{
  "parser": "babel-eslint",
  # "extends": "airbnb",
  "extends": "eslint:recommended",
  "rules": {
      "no-var": ["error"],

    },
  "env": {
    "browser": true,
  },
  "globals": {},
  "plugins": []
}
